*{
	margin: 0;
	box-sizing: border-box;
	scroll-margin: 0px;
	scroll-padding: 0px;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Arial Black';
}
.header{
	background-color: #000;
	padding: 10px 0px;
	margin: 0px 0px;
}
.navigation{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
	}

.name a{
	text-decoration: none;
	color: #fff;	
}
.name a:hover{
	color: #fff;
}
.nav{
	display: inline-flex;
	flex-basis: 25%;
	align-items: center;
	justify-content: space-around;
}
.nav img{
	height: 100px;
	width: 90px;
}
.nav1{
	flex-basis: 65%;
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-around;
}
.nav1 ul{
	padding-right: 0px;
	display:flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	border: solid #ed5858 2px;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #ed5858;
}
.nav1 li{
	padding: 2px 2px;
	margin: 2px 50px;
	display: inline-block;
	list-style-type: none;
	font-family: 'Arial Black';
	font-size: 18px;
	text-decoration: none;
}
.nav1 li a{
	text-decoration: none;
	color: #fff;
}
.nav1 li a:hover{
	text-shadow: 2px 2px 2px #ed5858;

}
.nav img:hover{
	transform: scale(1.1);
}

.menu-btn{
	display: none;
	justify-content: flex-end;
	align-content: center;
	flex-direction: row;
    flex-wrap: wrap;
	align-items: center;
    width: fit-content;
    position: relative;
}
#menu{
	background-color: black;
	color: white;
	border: none;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
}
.dropdown{
  top: 100%;
  left: 0;
  min-width: 100%;
  background-color: #000;
  border: solid #c82b00 2px;
  box-shadow: 1px 1px 10px #c82b00;
  display: none;
}
.dropdown a{
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.dropdown a:hover {
	background-color: #c82b00;
	transform: scale(1.1);
	color: white;
}
.container
{
	color: #fff;
}
.container hr{
	color: #fff;
	padding: 5px 0px;
}
.row{
	text-align: center;
	margin: 0px;
	padding: 0px;

}
.col{
	text-align: center;
}
.col ul{
	list-style: none;
	
	color: #fff;
	font-family: 'Arial Black';
}
.logo{
	display: inline-block;
}
.logo hr{
	color: #fff;
	padding: 5px 0px;
	margin: 0px;
}
.logo label{
	font-family: Times New Roman;
	
}
.address{
	padding: 20px 30px;
	text-align: justify;
	color: #fff;
	font-size: 13px;
}
.icon{
	align-content: center;
	align-items: center;
	align-self: center;
	padding: 20px 0;
	display: inline-flex;
	justify-content: space-around;
}
.icon-1{
	padding: 5px;
	filter: grayscale(100%);
	cursor: pointer;
}
.icon-2{
	padding: 5px;
	filter: grayscale(100%);
	cursor: pointer;
}
.icon-3{
	padding: 5px;
	filter: grayscale(100%);
	cursor: pointer;
}
.icon-4{
	padding: 5px;
	filter: grayscale(100%);
	cursor: pointer;
}
.name{
	font-family: 'Arial Black';
	color: #fff;
	padding: 10px;
	font-size: 25px;
}
.icon-1:hover{
	filter: grayscale(0%);
}
.icon-2:hover{
	filter: grayscale(0%);
}
.icon-3:hover{
	filter: grayscale(0%);
}
.icon-4:hover{
	filter: grayscale(0%);
}
.gallery{
	display: flex;
	max-width: 1450px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	background:#000;
}
.gallery img{
	width: 250px;
	height: 150px;
	object-fit: cover;
	object-position: bottom;
	padding:3px;
}

.gallery img:hover{
	cursor: pointer;
	opacity: 0.5s;
	transition: 0.5s;
}